Names: Bornales, Amiel James; Santiago, JM; Yuvallos Jonn

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

plt.style.use('ggplot')

# Fix the seed of the random number 
# generator so that your results will match ours
np.random.seed(5)

%load_ext autoreload
%autoreload 2

# Get the datastuff

In [59]:
import pandas as pd

test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

#test.head(10)
#train.head(10)

### Visualize the datastuff

In [5]:
test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
print(train.shape, test.shape)

(891, 12) (418, 11)

# Cleaning the data

### Check for tables with null values

In [64]:
for col in train.columns.values:
  if train[col].isnull().values.any():
    print("train: "+ col + " has null:", train[col].isnull().sum())
print()
for col in test.columns.values:
  if test[col].isnull().values.any():
    print("test: "+ col + " has null:", test[col].isnull().sum())

train: Age has null: 177
train: Cabin has null: 687
train: Embarked has null: 2

test: Age has null: 86
test: Fare has null: 1
test: Cabin has null: 327

In [ ]:
test[1].values

In [ ]:
  test[col].values

### Drop unneeded columns

In [65]:
del test['PassengerId']
del test['Ticket']
del test['Fare']
del test['Name']
del test['Cabin']

del train['PassengerId']
del train['Ticket']
del train['Fare']
del train['Name']
del train['Cabin']

## Drop rows with null values

In [66]:
train = train[ pd.notnull(train['Age'])]
train = train[ pd.notnull(train['Embarked'])]

### Convert text data into numbers

In [67]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(train['Sex'])
train['Sex'] = encoder.transform(train['Sex'])

encoder.fit(train['Embarked'])
train['Embarked'] = encoder.transform(train['Embarked'])

train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [68]:
encoder = LabelEncoder()
encoder.fit(test['Sex'])
test['Sex'] = encoder.transform(test['Sex'])

encoder.fit(test['Embarked'])
test['Embarked'] = encoder.transform(test['Embarked'])

test.head()

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    1  34.5      0      0         1
1       3    0  47.0      1      0         2
2       2    1  62.0      0      0         1
3       3    1  27.0      0      0         2
4       3    0  22.0      1      1         2

# Populate null values
Since the Titanic Submission requires exactly 418 predictions, we cant just drop the rows containing null values. A possible solution for this is to fill them with the average values of that certain data, or use a regression model to fill them up.

### Method 1: Average values

### Method 2: Regression

# Do some stuff with the train data
Split the training data to train and test to check for the accuracy

In [75]:
X = train.drop('Survived', axis=1)
y = train['Survived'].as_matrix()

In [76]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)

# Build the model

In [77]:
from sklearn.tree import DecisionTreeClassifier
#default is 2
min_samples_split = 4

#default is None
max_depth = 10

#default is None
min_impurity_split = .1

dtc = DecisionTreeClassifier(min_samples_split = min_samples_split, max_depth = max_depth, min_impurity_split = min_impurity_split)
dtc.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\tree\tree.py:282: DeprecationWarning: The min_impurity_split parameter is deprecated and will be removed in version 0.21. Use the min_impurity_decrease parameter instead.
  DeprecationWarning)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=0.1,
            min_samples_leaf=1, min_samples_split=4,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [78]:
pred = dtc.predict(X_test)
print(np.sum(pred == y_test)/len(y_test)*100)

76.6355140187

In [73]:
pred = dtc.predict(test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [74]:
pred.shape

(356,)